<div class="row filterArea">
  <div class="col-xs-6">
  </div>
    <div class="col-xs-6">
      <div class="btn-group pull-right" role="group">
        <% ["grid", "list"].each do |type|  %>
          <% if categories_controller? %>
            <%= link_to potepan_category_path(params[:id], option_value: product_filter.option_value, display_type: type),
              class: "btn btn-default #{active?(type)}" do %>
              <i class="fa fa-th" aria-hidden="true"></i><span><%= type %></span></button>
            <% end %>
          <% else %>
            <%= link_to potepan_products_path(option_value: product_filter.option_value, display_type: type),
              class: "btn btn-default #{active?(type)}" do %>
              <i class="fa fa-th" aria-hidden="true"></i><span><%= type %></span></button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
