<div class="row productListSingle">
  <% products.each do |product| %>
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <%= link_to image_tag(product.display_image.attachment(:product),
            alt: product.display_image.attachment_file_name ), potepan_product_path(product.id) %>
        </div>
        <div class="media-body">
          <%= link_to potepan_product_path(product.id) do %>
            <h3 class="media-heading"><%= product.name %></h3>
            <p><%= product.description %></p>
            <h3><%= product.display_price %></h3>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
