<div class="panel panel-default filterNormal">
  <div class="panel-heading">FILTER BY <%= option_type.presentation %></div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% option_type.option_values.each do |option_value| %>
        <li>
          <%= link_to(potepan_products_path(option_value: option_value)) do %>
            <%= option_value.name %><span>(<%= option_value.count_products %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
