<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'potepan/shared/sidebar',
        { taxonomies: taxonomies, search_color: search_color, search_size: search_size } %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/shared/filter', { product_filter: product_filter } %>
        <% if product_filter.grid_display? %>
          <%= render 'potepan/shared/grid_products', { products: products } %>
        <% else %>
          <%= render 'potepan/shared/list_products', { products: products } %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/partners_logo' %>
