<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <div class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies.each do |taxonomy| %>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.name %>">
                <%= taxonomy.name %><i class="fa fa-plus"></i></a>
              <ul id="<%= taxonomy.name %>" class="collapse collapseItem">
                <% taxonomy.taxons_list.each do |taxon| %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id) do %>
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <%= taxon.name %><span> (<%= taxon.all_products.count %>)</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% if search_color.present? %>
    <%= render 'potepan/shared/option_types_filter', { option_type: search_color } %>
  <% end %>
  <% if search_size.present? %>
    <%= render 'potepan/shared/option_types_filter', { option_type: search_size } %>
  <% end %>
</div>
