<!-- SIGN UP MODAL -->
<div class="modal fade" id="signup" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">新規登録</h3>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: spree.signup_path) do |f| %>
          <div class="form-group">
            <%= f.label "メールアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label "パスワード" %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label "パスワード（確認用）" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"  %>
          </div>
          <div class="btn btn-primary btn-block">
            <%= f.submit "登録する", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
