<% provide(:title, "Filter Products") %>
<%= render 'potepan/shared/light_section', { content_name: "Filter Priducts" } %>
<%= render 'potepan/shared/show_products', { taxonomies:@taxonomies,
  search_color: @search_color, search_size: @search_size, product_filter: @product_filter, products: @products } %>
