<div class="row featuredCollection">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>人気カテゴリー</h4>
    </div>
  </div>
  <% popular_taxons.each do |popular_taxon| %>
    <div class="col-sm-4 col-xs-12">
      <div class="thumbnail">
        <%= link_to potepan_category_path(popular_taxon.id) do %>
          <div class="imageWrapper">
            <%= image_tag("home/featured-collection/featured-collection-#{popular_taxon.name}.jpg",
              alt: "feature-collection-#{popular_taxon.name}-image" ) %>
            <div class="masking"><div class="btn viewBtn">View <%= popular_taxon.name %></div></div>
          </div>
          <div class="caption">
            <h4><%= popular_taxon.name %></h4>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
