<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application',
      'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', media: "all" %>
    <%= render 'potepan/shared/meta_tags' %>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= render 'potepan/shared/shim' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'potepan/shared/header' %>
      <%= yield %>
      <%= render 'potepan/shared/footer' %>
    </div>
    <%= render 'potepan/shared/login_modal' %>
    <%= render 'potepan/shared/signup_modal' %>
    <%= render 'potepan/shared/quick_view' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
